In [5]:
import pandas as pd

In [9]:
x = pd.read_parquet('./data/node_attributes.parquet')
y = pd.read_parquet('./data/edges.parquet')
x
y

                         source                  target
0        xHzU9LKwxGHq7BNPA16gog  hRh68PE5x9ilwPf0EoIAww
1        aA0WQpDdksKuDafTGzJf_A  7i4vh4i-Z6a2zYS4RTBTlg
2        VWgWJiG462Ytm_rWMRxHiA  -WsAXw5yO-d9_pxFCOMHSA
3        eh03Ytv4exbW33L2erx1kA  fr1khdPlNptCgNKdNMv_9A
4        PWcDbTaoBcBtumbkS5gUJw  oXKibc10AXIMxS-OXUDY6w
...                         ...                     ...
1334197  idrz_9pJqk35macI3mfjVw  kfVPVar_bSgZ4Z5XOXVmXA
1334198  wfc7UT7S2ov3igCqW5TD5Q  Ku2Gy2SFqgyXTGSsBjKbuQ
1334199  y3SRNSyN4WJq6W1onPnmDg  Z8AwgMcrujpMuU4XG4yqRg
1334200  8_s6YuBPeR-gn4UbMtfKMQ  _-AKdMKl4obWzkxQxBIFDg
1334201  UAHwMi3sd2BYRu_BENN-Tw  QwY0oVhs-l5xKZKeOw3_Yw

[1334202 rows x 2 columns]

In [11]:
y.loc[(y['source'] == 'xHzU9LKwxGHq7BNPA16gog') & (y['target'] == 'hRh68PE5x9ilwPf0EoIAww'),:]

                   source                  target
0  xHzU9LKwxGHq7BNPA16gog  hRh68PE5x9ilwPf0EoIAww

In [12]:
y.loc[(y['source'] == 'hRh68PE5x9ilwPf0EoIAww') & (y['target'] == 'xHzU9LKwxGHq7BNPA16gog'),:]

                        source                  target
227287  hRh68PE5x9ilwPf0EoIAww  xHzU9LKwxGHq7BNPA16gog

In [8]:
x['Home_Services'].describe()

count    250261.000000
mean          0.188076
std           1.323888
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         160.000000
Name: Home_Services, dtype: float64

In [17]:
import numpy as np
all(y.groupby(['source', 'target']).size().unique()) == 1

True

In [18]:
import torch

In [26]:
y['source'] = [i for i in range(len(y))]
y['target'] = [i*-1 for i in range(len(y))]
y

          source   target
0              0        0
1              1       -1
2              2       -2
3              3       -3
4              4       -4
...          ...      ...
1334197  1334197 -1334197
1334198  1334198 -1334198
1334199  1334199 -1334199
1334200  1334200 -1334200
1334201  1334201 -1334201

[1334202 rows x 2 columns]

In [28]:
torch.tensor(y[['source', 'target']].values, dtype=torch.long).t().contiguous()

tensor([[       0,        1,        2,  ...,  1334199,  1334200,  1334201],
        [       0,       -1,       -2,  ..., -1334199, -1334200, -1334201]])