In [5]:
import pandas as pd

In [31]:
x = pd.read_parquet('./data/attributes.parquet')
y = pd.read_parquet('./data/edges_double.parquet')

In [33]:
y

                         source                  target
0        --17Db1K-KujRuN7hY9Z0Q  REnIBVutnk7CBmy8auVGqg
1        --17Db1K-KujRuN7hY9Z0Q  bGu1K8WWpAWpYPCjFttiDg
2        --17Db1K-KujRuN7hY9Z0Q  ggl6fl-PM5O1WrdReL0l4A
3        uIv-QohIyddQA6JMXWsaTA  --17Db1K-KujRuN7hY9Z0Q
4        --238OiSJBDIhfqcSOQyMA  _jfMNGIbiYgyY6HEfREjXw
...                         ...                     ...
8441791  zriyJyhkEWH0f0hk5eHu1Q  zGrKK9UWL4p1E3GHNVXoIQ
8441792  zko28JTulmrNgDnByUK0xA  zHSYjtAIoEChJgkl6TzOGw
8441793  zUUnDptw_2z002U7jCnsnQ  zML2SHZTEiB1KFxaSjEfpA
8441794  zysPNXSzrvLZvHy2ucBGIg  zPAt3RRjczFvA_5LBIrLjg
8441795  znQGlrArNjDOWn3N6FQLTw  zawbpiWKCq-vEHsPUGASow

[8441796 rows x 2 columns]

In [38]:
x['user_id'].unique().size

250261

In [39]:
y['source'].unique().size

248140

In [41]:
keep = y['target'].unique()

In [42]:
x = x.loc[x['user_id'].isin(keep), :]

In [43]:
x['user_id'].unique().size

248140

In [44]:
x.to_parquet('./data/node_attributes.parquet')

In [35]:
y.loc[(y['source'] == '--17Db1K-KujRuN7hY9Z0Q') & (y['target'] == 'REnIBVutnk7CBmy8auVGqg'),:]

                   source                  target
0  --17Db1K-KujRuN7hY9Z0Q  REnIBVutnk7CBmy8auVGqg

In [36]:
y.loc[(y['source'] == 'REnIBVutnk7CBmy8auVGqg') & (y['target'] == '--17Db1K-KujRuN7hY9Z0Q'),:]

                         source                  target
4220898  REnIBVutnk7CBmy8auVGqg  --17Db1K-KujRuN7hY9Z0Q

In [8]:
x['Home_Services'].describe()

count    250261.000000
mean          0.188076
std           1.323888
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         160.000000
Name: Home_Services, dtype: float64

In [17]:
import numpy as np
all(y.groupby(['source', 'target']).size().unique()) == 1

True

In [18]:
import torch

In [26]:
y['source'] = [i for i in range(len(y))]
y['target'] = [i*-1 for i in range(len(y))]
y

          source   target
0              0        0
1              1       -1
2              2       -2
3              3       -3
4              4       -4
...          ...      ...
1334197  1334197 -1334197
1334198  1334198 -1334198
1334199  1334199 -1334199
1334200  1334200 -1334200
1334201  1334201 -1334201

[1334202 rows x 2 columns]

In [28]:
torch.tensor(y[['source', 'target']].values, dtype=torch.long).t().contiguous()

tensor([[       0,        1,        2,  ...,  1334199,  1334200,  1334201],
        [       0,       -1,       -2,  ..., -1334199, -1334200, -1334201]])

In [45]:
x = np.array([3])

In [48]:
if x:
    print('hey')

hey